@charset "utf-8";
/* CSS Document */

<style>


section, aside, nav, article, figure, figcaption {
				display: block;}

section.courses {
				float: left; /*The float CSS property places an element on the left or right side of its container, allowing text and inline elements to wrap around it. The element is removed from the normal flow of the page, though still remaining a part of the flow (in contrast to absolute positioning).*/
				width: 1000px;
				border-right: 1px solid #eeeeee;}
			article {
				clear: both; /*The clear property is directly related to floats. If the element can fit horizontally in the space next to another element which is floated, it will. Unless you apply clear to that element in the same direction as the float. Then the element will move down below the floated element.*/
				overflow: auto; /*The overflow property specifies what should happen if content overflows an element's box. This property specifies whether to clip content or to add scrollbars when an element's content is too big to fit in a specified area. Note: The overflow property only works for block elements with a specified height.*/
				width: 98%;}
			hgroup {
				margin-top: 40px;}
			figure {
				float: left;
				width: 290px;
				height: 220px;
				padding: 5px;
				margin: 20px;
				border: 1px solid #eeeeee;} 
			figcaption {
				font-size: 90%;
				text-align: left;}
			figure2 {
				float: right;
				width: 290px;
				height: 220px;
				padding: 5px;
				margin: 20px;
				border: 1px solid #eeeeee;} 
			figcaption2 {
				font-size: 90%;
				text-align: right;}
			aside {
				width: 230px;
				float: left;
				padding: 0px 0px 0px 20px;}
			aside section a {
				display: block;
				padding: 10px;
				border-bottom: 1px solid #eeeeee;}
			aside section a:hover {
				color: #985d6a;
				background-color: #efefef;}

.entries {
    box-shadow: rgba(0,0,0,0.1)5px 5px;
    position: relative;
    z-index: 3;
    width: 900px;
	height: 400px;
    padding: 10px;
    margin: 30px 0 30px 200px;
    border: 2px outset #d1d1d1;
    background-color: #fff;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
	font-size: 18px;
}

figure {
				float: left;
				width: 350px;
				height: 400px;
				padding: -5px;
				margin: 15px;
				border: 0px solid #eeeeee;} 
figcaption {
				font-size: 90%;
				text-align: left;}

body {
  background-image: url("https://66.media.tumblr.com/b5ee654f684331b6c6cb02e5af389549/tumblr_inline_ps90xlaAXZ1uu5q2s_540.jpg");
  background-repeat: repeat;
  background-color: #cccccc;
	font-family: Comfortaa, cursive;
	cursor: url(https://78.media.tumblr.com/11e64566073c602598309a4595f79174/tumblr_inline_pe5g2yUlAp1rt1clh_540.png), auto;
}

h1 {
    border-width: 0px;
    border-style: solid;
    border-color: black;
}


.active {
  background-color: #4CAF50;
  color: white;
}

.image-container {
    width: 500px;
    height: 500px;
    position: center;
}

.image-container img {
    position: center;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
}

container {
margin: auto 0;
float: center;
width: 320px;
height: auto;
background-color: #FEFEFE;
border-width: 1px;
border-color: #d6d5d5;
border-style: solid;
padding: 7px;
position: fixed;
margin-top: 75px;
top: 0px;
margin-left: 500px;
}

blockquote {
border-left-style: solid;
border-left-width: 4px;
border-left-color: #010101;
color: #2B2A2B;
padding-left: 5px;
padding-top: 1px;
padding-bottom: 1px;
padding-right: 0px;
}

	#sidepic {
margin-top: 40px;
margin-left: 0px;
position: left;
}
	
	img.pic {
}	

#nav {
  background-color: steelblue;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
}
	
#nav li {
  display: inline;
  padding-right: 70px;
}

#nav a {
  text-decoration: none;
  font-family: Comfortaa, cursive;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.3em;
  color: white;
}

#nav a:hover {
  text-decoration: none;
  font-family: Comfortaa, cursive;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.3em;
  color: black;
  background-color: white;
}

#nav a.active{
  background-color: white;
  color: black;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 250px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
background-image: url("");
  background-repeat: repeat;
  background-color: #cccccc;
}

</style>
